<%- include('includes/header'); %>
    <h2>Dokument</h2>

    <% if (doc) { %>
        <form method="POST" action="/update" class="new-doc" >
            <label for="title">Titel</label>
            <input class="doc-title textarea" type="text" name="title" value="<%= doc.title %>" />

            <label for="content">Innehåll</label>
            <textarea class="doc-content textarea" name="content"><%= doc.content %></textarea>

            <input hidden name="lastID" value="<%= doc._id %>"/>

            <input class="button" type="submit" value="Spara" />
        </form>
    <% } else { %>
        <p>No doc here.</p>
    <% } %>
<%- include('includes/footer'); %>
